<%= form_for(@task, html: {class:"form-horizontal"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger col-sm-offset-2">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, class:"col-sm-1 control-label text-center" %><br>
      <div class='col-sm-6'>
        <%= f.text_field :description, class:"form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.check_box :completed, class:"col-sm-8 control-label" %><br>
      <div class='col-sm-4'>
        <%= f.label :completed %>
      </div>
  </div>



  <div class="actions">
    <%= f.submit "Update Task", class:"btn btn-primary" %>
    <%= link_to "cancel", tasks_path, class:"btn btn-default" %>
    <%= link_to "cancel@task", @task, class:"btn btn-default" %>


  </div>
<% end %>
