
  <div class="jumbotron">
        <h1>gCamp</h1>
          <p style="margin-top: 25px">Your life, organized.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'rosa_3.jpg', class:'img-responsive' %>
      <div class="panel panel-primary">
          <div class="panel-heading">Tasks</div>
          <div class="panel-body homePanel">Grouped by projects and lists. Just the way you like 'em</div>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag 'rosa_02.jpg', class:'img-responsive' %>
          <div class="panel panel-primary">
              <div class="panel-heading">Documents</div>
              <div class="panel-body homePanel">
                <ul>
                  <li>Upload</li>
                  <li>Comment</li>
                  <li>Revise</li>
                </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <%= image_tag 'rosa_img.jpg', class:'img-responsive' %>
            <div class="panel panel-primary">
                <div class="panel-heading">Comments</div>
                <div class="panel-body homePanel">
                  <ul>
                      <li>Comment on tasks and documents.</li>

                      <li>Get email notifications</li>

                  </ul>
                </div>
            </div>
        </div>
      </div>
          <div class= "home_quotes">
              <% @quotes.each do |quote| %>
                <blockquote>
                  <p class="lead"><%= quote.first %></p>
                  <p><em><%= quote.last %></em></p>
                </blockquote>
              <% end %>
            </p>
          </div>
  </div>
