<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <title>GCamp</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
    <body>
      <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <%= link_to 'gCamp','/', class:'navbar-brand' %>
            <!-- <a class="navbar-brand" href="#">gCamp</a> -->
          </div>
      </nav>
      <div class="container">
        <%= yield =%>
        <hr>
        <footer class="bottom-nav">
            <%= link_to 'About', about_path, class:'navbar-brand' %> |
            <%= link_to 'Terms', terms_path, class:'navbar-brand' %> |
            <%= link_to 'FAQ', faq_path, class:'navbar-brand' %>
        </footer>
      </div>
    </body>
</html>
